#reportForm *,
:before,
:after {
  box-sizing: border-box;
}

#reportForm form {
  width: 650px;
  margin: 45px auto;
}
#reportForm .group {
  position: relative;
  margin: 45px 0;
}
#reportForm textarea {
  resize: none;
}

#reportForm input,
#reportForm textarea {
  background: none;
  color: black;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 650px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c6c6c6;
}
#reportForm input:focus,
#reportForm textarea:focus {
  outline: none;
}
#reportForm input:focus ~ label, #reportForm input:valid ~ label,
#reportForm textarea:focus ~ label,
#reportForm textarea:valid ~ label {
  top: -14px;
  font-size: 12px;
  color: #2196F3;
}
#reportForm input:focus ~ .bar:before,
#reportForm textarea:focus ~ .bar:before {
  width: 650px;
}

#reportForm input[type="password"] {
  letter-spacing: 0.3em;
}

#reportForm label {
  color: #c6c6c6;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
}

#reportForm .bar {
  position: relative;
  display: block;
  width: 650px;
}
#reportForm .bar:before {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #2196F3;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
  left: 0%;
}
